.board_page1 {
  width: 100%;
  border-top: 2px solid #000;
}

.board_page1 .pagetitle {
  padding: 20px 15px;
  border-bottom: 1px solid #999;
}

.board_page1 .cont {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
  line-height: 160%;
}
