:root {
  /* font size*/
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* COLOR */
  --blue-color: #0085ff;
  --background-color: #fff;
  --hover-color: #0085ff;
  --font-color: #383838;
  --dark-gray-color: rgb(219, 219, 219);
}

body {
  background-color: var(--background-color);
}

.title {
  margin-top: 50px;
  /* margin-left: 630px; */
  /* text-align: left; */
  font-size: var(--font-large);
  font-weight: 800;
  color: var(--font-color);
}

.title .title_content {
  margin-top: 10px;
  margin-bottom: 30px;
  /* text-align: left; */
  font-size: var(--font-medium);
  color: var(--font-color);
}

.search .Searchbox {
  margin-left: 250px;
  width: 400px;
}

.search .Searchbutton {
  margin-left: 10px;
  width: 70px;
}

/* 목록 */
.board_box {
  width: 1000px;
  margin: auto;
}
/* 
    .board_title {
        margin-bottom: 30px;
    } */

.btn_box {
  margin-top: 30px;
  text-align: center;
}

.btn_box a {
  display: inline-block;
  min-width: 80px;
  padding: 10px;
  border: 1px solid var(--blue-color);
  border-radius: 2px;
  font-size: var(--font-medium);
}

.btn_box a.on {
  background-color: var(--blue-color);
  color: #fff;
}

.board_list {
  width: 100%;
  border-top: 2.5px solid #000;
}

.board_list > div {
  border-bottom: 1px solid #ddd;
}

.board_list > div.litop {
  border-bottom: 1px solid #999;
}

.board_list > div:last-child {
  border-bottom: 1px solid #000;
}

.board_list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
}

.board_list > div.litop > div {
  font-weight: 600;
}

.board_list .num {
  width: 10%;
}

.board_list .lititle {
  width: 60%;
  text-align: left;
}

.board_list .litop .lititle {
  width: 60%;
  text-align: center;
}

.board_list .date {
  width: 10%;
}

.board_list .count {
  width: 10%;
  margin-left: 50px;
}

.board_page {
  margin-top: 30px;
  text-align: center;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5pc;
  border-left: 0;
  line-height: 100%;
}

.board_page a.bt {
  padding-top: 6px;
  font-size: var(--font-medium);
  /* letter-spacing: -1px; */
}

.board_page a.numo {
  padding-top: 9px;
  font-size: var(--font-medium);
}

.board_page a.num.on {
  border-color: var(--blue-color);
  background: var(--blue-color);
  color: #fff;
}

.board_page a:first-child {
  border-left: 1px solid #ddd;
}
