:root {
  /* font size*/
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* COLOR */
  --blue-color: #0085ff;
  --background-color: #fff;
  --hover-color: #0085ff;
  --font-color: #383838;
  --dark-gray-color: rgb(219, 219, 219);

  /* padding */
  --padding: 10px;
  --menu-padding: 5px;
}

.mointo {
  width: 1000px;
  margin: auto;
}

.poster {
  padding: 0;
  /* margin: 0; */
  width: 250px;
  margin-top: 50px;
  float: left;
}

.movint {
  margin-top: 40px;
  margin-left: 330px;
}

.movint strong {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.movint p {
  font-size: var(--font-medium);
  margin-left: 5px;
  border-bottom: 1px solid #383838;
  padding-bottom: 40px;
}

div .minto {
  padding-top: 40px;
}

div .minto span {
  font-size: var(--font-large);
  font-weight: 550;
}

.morv {
  margin-top: 50px;
  font-size: var(--font-large);
  font-weight: 600;
  color: var(--font-color);
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 5px;
  border: solid 1px #908c8c;
  list-style: none;
  float: left;
  text-align: left;
  background-color: var(--blue-color);
  color: var(--background-color);
}

.intod {
  margin-top: 200px;
  font-size: var(--font-large);
  font-weight: 450;
}
