.mvtitle {
  text-align: center;
  display: flex;
  justify-content: center;
}

.mvtitle li {
  font-size: var(--font-large);
  font-weight: 600;
  color: var(--font-color);
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 5px;
  margin-top: 60px;
  border: solid 1px #908c8c;
  list-style: none;
  float: left;
  margin-bottom: 50px;
}

.mvtitle li:hover {
  color: var(--background-color);
  background: var(--blue-color);
}

.chart {
  display: flex;
  width: 1500px;
  margin: auto;
  justify-content: space-around;
}

.chartgr {
  width: 330px;
  height: 700px;
}
/* margin: 10px; */

.chartnum {
  background-color: var(--blue-color);
  font-size: var(--font-large);
  font-weight: 600;
  color: var(--background-color);
  text-align: center;
  width: 320px;
  height: 30px;
}

.photo {
  padding: 0;
  /* margin: 0; */
  width: 330px;
  height: 440px;
  margin-top: 25px;
}

.mobtns {
  font-size: var(--font-large);
  font-weight: 600;
  color: var(--font-color);
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 5px;
  margin-top: 20px;
  border: solid 1px #908c8c;
  list-style: none;
  float: left;
  text-align: left;
  background-color: var(--blue-color);
  color: var(--background-color);
}

.mobtns:hover {
  background-color: var(--background-color);
  color: var(--blue-color);
}

/* @media screen and (max-width: 768px){
  .mvtitle {
    flex-direction: column;
  }

  .mvtitle li {
    display: none;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
} */
