:root {
  /* font size*/
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* COLOR */
  --blue-color: #0085ff;
  --background-color: #fff;
  --hover-color: #0085ff;
  --font-color: #383838;
  --dark-gray-color: rgb(219, 219, 219);

  /* padding */
  --padding: 10px;
  --menu-padding: 5px;
}

* {
  margin: 0;
  padding: var(--menu-padding);
}

body {
  background-color: var(--background-color);
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
}

.top {
  display: flex;
}

.logo {
  font-size: 50px;
  color: var(--blue-color);
  cursor: pointer;
  list-style: none;
  color: var(--blue-color);
  text-decoration: none;
  font-weight: bold;
  padding: var(--padding);
}

/* 로그인 및 회원가입 */
.Profile {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-left: auto;
  padding: var(--padding);
}

.Profile li {
  text-align: center;
  cursor: pointer;
  list-style: none;
  margin-left: 50px;
}

.Profile li a {
  font-weight: bold;
}

.Profile li a i {
  margin-right: 8px;
}

.Profile li a:hover {
  color: var(--blue-color);
}
/* ----- End ----- */

/* 메뉴 */
.nav {
  border-top: 1px solid var(--dark-gray-color);
  border-bottom: 1px solid var(--dark-gray-color);
  padding: 0;
}

.nav .menu {
  color: var(--font-color);
  font-size: var(--font-large);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.nav .menu li {
  cursor: pointer;
  list-style: none;
  width: 100%;
}

.nav .menu li a {
  display: inline-block;
  font-weight: bold;
  padding-top: 12px;
}

.nav .menu li a:hover {
  color: var(--blue-color);
}

.nav .menu li input {
  border-radius: 15px;
  border: 1px solid var(--dark-gray-color);
  width: 200px;
  height: 20px;
}

.fa-magnifying-glass {
  margin-left: 5px;
  position: absolute;
}

.fa-magnifying-glass:hover {
  color: var(--blue-color);
}
/* ----- End ----- */
